@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
